@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  }
}

@layer base {
  body {
    @apply bg-gray-50 text-gray-900;
  }
}

/* Force number input spinners to show on all devices */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: auto;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
} 